body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar--items {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-right: 20px;
}
.link {
  text-decoration: none;
  color: inherit;
}
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home--languages {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 30%;
  grid-gap: 10px;
}
.home--languages > img {
  max-width: 100%;
}
.socials {
  display: flex;
  gap: 10px;
}
.social--button {
  display: flex;
  background-color: transparent;
  border: 0;
  height: 60px;
  width: 60px;
}
.social--image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.about > h1 {
  margin: auto;
  max-width: 70%;
  padding-bottom: 50px;
}
.about--headshot {
  margin: auto;
  max-width: 300px;
}
.about--headshot > img {
  display: flex;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.about--bio {
  margin: auto;
  text-align: justify;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 70%;
}
.education {
  margin: auto;
  max-width: 70%;
  font-size: small;
}
.education > h2 {
  margin: 0;
}
.education--subheading {
  display: flex;
  justify-content: space-between;
}
.education--degree {
  font-style: italic;
}
.education--subheading > h3 {
  font-weight: 400;
}
.education--notes {
  margin-top: 0;
}
.project {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.project--video {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.project--video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.contact--content {
  margin: auto;
  max-width: 70%;
}
.contact--email {
  display: flex;
  align-items: center;
  gap: 5px;
}